/*--------------------------------
	Breakpoints
--------------------------------*/
/*--------------------------------
	Typography
--------------------------------*/
/*--------------------------------
	Colors
--------------------------------*/
/*--------------------------------
	Z-Index
--------------------------------*/
/*--------------------------------
	ADA
--------------------------------*/
/*--------------------------------
	Spacing
--------------------------------*/
/*--------------------------------
	Font Size, Weight, Etc.
--------------------------------*/
#header #logo-espot img {
  padding-top: 10px;
}

#header #quick_links ul {
  text-align: right;
}

#header #quick_links ul li {
  padding-left: 10px;
  float: none;
}

#header #quick_links ul a {
  font-size: 0.75pxrem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#header #quick_links > div:not(.search-area) {
  position: absolute;
  right: 20px;
  top: -6px;
}

#app_wrapper.tablet .search-input {
  width: 260px !important;
}

#header_desktop_wrapper > .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#my_dillards_bar_wrapper .barItems .ES_Consolidated_Header li {
  display: inline-block;
}

#my_dillards_bar_wrapper.backgroundBlack {
  position: fixed;
  height: 36px;
  top: -1px;
}

.ES_Consolidated_Header {
  display: inline-block;
}

.header_promo_static_wrapper {
  position: relative;
  z-index: 102;
  background: #c04747;
  overflow: hidden;
  padding: 8px;
  height: auto;
  color: white;
}

.header_promo_static_wrapper .promoStaticWrapper {
  height: auto;
  text-align: center;
  padding: 0;
}

.header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading {
  display: inline-block;
  width: 100%;
  max-width: 1600px;
}

.header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading a {
  display: inline-block;
  width: 100%;
}

.header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading a:focus {
  outline: 1px solid #5573d8;
  outline-offset: 0;
}

.header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading p {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 0px;
  color: #fff;
}

.header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading p .promoTextLink {
  text-decoration: underline;
}

.tabletPage .header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading p,
.tabletPage .header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading p a,
.tabletPage .header_promo_static_wrapper .promoStaticWrapper .promoStaticHeading p span {
  font-size: 0.8125rem;
  line-height: 1.4em !important;
  padding: 0 !important;
}

.header_promo_static_wrapper ~ .TabletMenu__backdrop {
  top: 230px;
}

.header_promo {
  background: black;
  color: white;
  padding: 8px 0px;
  height: 38px;
  max-height: 38px;
  overflow: hidden;
  position: relative;
  z-index: 17;
}

.header_promo .skipNavigation {
  z-index: 9999;
  position: absolute;
  top: -1000px;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 6px solid transparent;
  background: #464646;
  border-radius: 3px;
  color: #fff !important;
  font-size: 0.75rem;
  outline: none !important;
  transition: all 0.1s ease;
}

.header_promo .skipNavFocus,
.header_promo a.skipNavigation:active,
.header_promo a.skipNavigation:focus {
  top: 5px;
  left: 5px;
  width: auto;
  height: auto;
  overflow: visible;
}

.header_promo .header_promo_wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.header_promo .header_promo_wrapper #animatedPromo {
  line-height: 1.2;
}

.header_promo .header_promo_wrapper #animatedPromo.promoCount-2 {
  animation-name: promoCount-2;
  animation-duration: 10.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes promoCount-2 {
  0% {
    transform: translateY(19px);
  }
  1.19% {
    transform: translateY(0px);
  }
  48.81% {
    transform: translateY(0px);
  }
  51.19% {
    transform: translateY(-38px);
  }
  98.81% {
    transform: translateY(-38px);
  }
  100% {
    transform: translateY(-57px);
  }
}

.header_promo .header_promo_wrapper #animatedPromo.promoCount-3 {
  animation-name: promoCount-3;
  animation-duration: 15.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes promoCount-3 {
  0% {
    transform: translateY(19px);
  }
  0.79% {
    transform: translateY(0px);
  }
  32.53% {
    transform: translateY(0px);
  }
  34.13% {
    transform: translateY(-38px);
  }
  65.87% {
    transform: translateY(-38px);
  }
  67.47% {
    transform: translateY(-76px);
  }
  99.21% {
    transform: translateY(-76px);
  }
  100% {
    transform: translateY(-95px);
  }
}

.header_promo .header_promo_wrapper #animatedPromo.promoCount-4 {
  animation-name: promoCount-4;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes promoCount-4 {
  0% {
    transform: translateY(19px);
  }
  .59% {
    transform: translateY(0px);
  }
  24.40% {
    transform: translateY(0px);
  }
  25.59% {
    transform: translateY(-38px);
  }
  49.40% {
    transform: translateY(-38px);
  }
  50.59% {
    transform: translateY(-76px);
  }
  74.40% {
    transform: translateY(-76px);
  }
  75.59% {
    transform: translateY(-114px);
  }
  99.40% {
    transform: translateY(-114px);
  }
  100% {
    transform: translateY(-133px);
  }
}

.header_promo .header_promo_wrapper #animatedPromo.promoCount-5 {
  animation-name: promoCount-5;
  animation-duration: 26.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes promoCount-5 {
  0% {
    transform: translateY(19px);
  }
  .47% {
    transform: translateY(0px);
  }
  19.52% {
    transform: translateY(0px);
  }
  20.47% {
    transform: translateY(-38px);
  }
  39.52% {
    transform: translateY(-38px);
  }
  40.47% {
    transform: translateY(-76px);
  }
  59.52% {
    transform: translateY(-76px);
  }
  60.47% {
    transform: translateY(-114px);
  }
  79.52% {
    transform: translateY(-114px);
  }
  80.47% {
    transform: translateY(-152px);
  }
  99.52% {
    transform: translateY(-152px);
  }
  100% {
    transform: translateY(-171px);
  }
}

.header_promo .header_promo_wrapper #animatedPromo:hover {
  animation-play-state: paused;
}

.header_promo .header_promo_wrapper .promoWrapper {
  height: 38px;
  text-align: center;
  padding: 0px 5px;
}

.header_promo .header_promo_wrapper .promoWrapper .promoHeading {
  display: inline-block;
  width: 100%;
  height: 25px;
}

.header_promo .header_promo_wrapper .promoWrapper .promoHeading a {
  display: inline-block;
  width: 100%;
}

.header_promo .header_promo_wrapper .promoWrapper .promoHeading a:focus {
  outline: 1px solid #5573d8;
  outline-offset: 0;
}

.header_promo .header_promo_wrapper .promoWrapper .promoHeading p {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 0px;
  color: #fff;
  height: 23px;
}

.header_promo .header_promo_wrapper .promoWrapper .promoHeading p .promoTextLink {
  text-decoration: underline;
}

.header_promo .i-arrow-right {
  float: right;
  padding: 0px 5px;
  position: absolute;
  background: black;
  z-index: 10;
  height: 30px;
  right: 0px;
  width: 22px;
  border: none;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header_promo .i-arrow-left {
  float: left;
  padding: 0px 5px;
  position: absolute;
  background: black;
  z-index: 10;
  height: 30px;
  width: 22px;
  border: none;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header_promo .icon {
  fill: white;
}

.header_promo button {
  overflow: hidden !important;
  width: 1px;
  height: 1px;
  position: absolute;
  right: 120px;
  top: 4px;
  background: none;
  border: none;
  color: #fff;
}

.header_promo button:focus {
  outline: 1px dotted #267cb5;
  width: 70px;
  height: 30px;
  font-size: 12px;
}

.header_promo button svg.playButtonTippy,
.header_promo button svg.pauseButtonTippy {
  width: 15px;
  height: 15px;
  fill: white;
  vertical-align: sub;
  margin-right: 5px;
}

.header_promo .headerStoreLocatorLink {
  position: absolute;
  top: 1px;
  right: 0;
  padding: 4px 16px 0 0;
}

.header_promo .headerStoreLocatorLink svg.storeMapMarker {
  fill: #fff;
  height: 15px;
  width: 15px;
}

.header_promo .headerStoreLocatorLink a {
  padding-left: 2px;
  color: #fff;
  font-size: 12px;
  transition: all 0.1s ease;
}

.header_promo .headerStoreLocatorLink a:hover {
  color: #dfdfdf;
}

/* set height to help lower CLS score */
.search-area-react {
  height: 38px !important;
  width: 350px;
}

#header_desktop_wrapper {
  height: 75px;
}

.desktopPage .headerStoreLocatorLink.hide-when-international {
  height: 30px;
}

.header_desktop_wrapper_promo #header {
  height: 75px;
  padding: 0;
}

.menu_wrapper_promo .container {
  border-bottom: none !important;
}

.menu_wrapper_promo .container .menu {
  max-width: 875px;
  margin: auto !important;
}

.dillardsBarPromo {
  background: white;
}

.dillardsBarPromo .shopping-bag-count-container {
  position: relative;
}

.dillardsBarPromo .cartItemCount {
  position: absolute;
  top: 3px;
  left: 8px;
  display: block;
  width: 28px;
  text-align: center;
  height: 5px;
  font-size: 11px;
  color: #000;
  cursor: pointer;
}

.dillardsBarPromo a .cartItemCount {
  left: -1px;
}

.dillardsBarPromo .i-empty-shopping-bag {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.dillardsBarPromo .i-empty-shopping-bag svg {
  max-width: 25px !important;
}

.dillardsBarPromo a[href='/c/shopbybrand'] {
  color: black !important;
}

.dillardsBarPromo .barItems__li a {
  color: black;
}

.dillardsBarPromo .barItems a:link {
  text-transform: none !important;
  position: relative;
}

.dillardsBarPromo .barItems .accountDD li {
  line-height: initial;
}

.dillardsBarPromo .barItems .accountDD .logout {
  margin-top: 5px;
}

.dillardsBarPromo .barItems .welcome-back div {
  display: inline-block;
  height: 20px;
}

.dillardsBarPromo .myAccountDD {
  padding-left: 12px !important;
  color: black;
  letter-spacing: 0.05em;
  text-transform: none;
  position: relative;
  z-index: 100;
}

.dillardsBarPromo .myAccountDD:hover {
  cursor: pointer;
}

.dillardsBarPromo .myAccountDD .i-arrow-down {
  margin-left: 2px;
}

.dillardsBarPromo .myAccountDD .i-arrow-down svg {
  height: 13px;
  padding-top: 3px;
  width: 13px;
}

.dillardsBarPromo .accountDDContainer {
  position: absolute;
  top: 30px;
  right: -47px;
  display: none;
  padding-top: 15px;
}

.dillardsBarPromo .accountDDShowContainer {
  display: block;
}

.dillardsBarPromo .accountDD {
  background: white;
  box-shadow: 0px 0px 5px #bababa;
  padding: 10px 10px 5px;
  width: 200px;
  position: relative;
}

.dillardsBarPromo .accountDD:after {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  box-shadow: -1px -1px 1px #bababa;
  position: absolute;
  top: -8px;
  right: 90px;
  transform: rotate(45deg);
}

.dillardsBarPromo .accountDD ul {
  padding: 5px 5px 0 !important;
}

.dillardsBarPromo .accountDD ul .login,
.dillardsBarPromo .accountDD ul .logout {
  width: 100%;
  padding: 0 0 10px !important;
}

.dillardsBarPromo .accountDD ul .login a,
.dillardsBarPromo .accountDD ul .logout a {
  background: black;
  color: white !important;
  text-align: center;
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0px !important;
}

.dillardsBarPromo .accountDD ul .welcome-back {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.dillardsBarPromo .accountDD ul li {
  height: auto !important;
  padding: 0 0 10px !important;
}

.dillardsBarPromo .accountDD ul li a {
  display: block;
  text-align: left;
}

.has-error .warning-tip {
  display: block;
}

.has-success .good-tip {
  display: block;
}

.has-error .form-control,
.flat-size-error {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6) !important;
  border-color: #a94442 !important;
}

.backgroundBlack {
  background: black !important;
  color: white !important;
}

.backgroundBlack .i-empty-shopping-bag {
  fill: white;
}

.backgroundBlack .cartItemCount {
  color: white !important;
}

.backgroundBlack .myAccountDD {
  color: white;
}

.backgroundBlack .myAccountDD .i-arrow-down {
  fill: white;
}

.backgroundBlack .myAccountDD .accountDD li {
  color: black;
}

.backgroundBlack .barItems__li #whiteLoginLink {
  color: #fff !important;
}

.backgroundBlack .barItems__li a {
  color: #fff !important;
}

.backgroundBlack .barItems__li .accountDDContainer .accountDD li.login a,
.backgroundBlack .barItems__li .accountDDContainer .accountDD li.logout a {
  color: #fff !important;
}

.backgroundBlack .barItems__li .accountDDContainer .accountDD li,
.backgroundBlack .barItems__li .accountDDContainer .accountDD a {
  color: #000 !important;
}

.myAccountDD .btn-tertiary {
  padding: 0;
}

.tabletPage #animatedPromo {
  animation-play-state: initial !important;
}

.tabletPage .headerStoreLocatorLink {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  color: #fff;
  font-size: 12px;
  padding: 6px;
}

.tabletPage .headerStoreLocatorLink:hover {
  color: #fff;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .tabletPage .header_promo_wrapper .button {
    right: 118px;
  }
  .tabletPage .headerStoreLocatorLink {
    display: block;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .tabletPage .header_promo_wrapper .button {
    right: 118px;
  }
  .tabletPage .headerStoreLocatorLink {
    display: block;
  }
}

.playButtonTippy svg,
.pauseButtonTippy svg {
  fill: white;
  position: absolute;
  right: 10px;
  top: 10px;
}

#header.inline-header #main_nav > ul:not(.children),
#header.inline-header #main_nav > ul:not(.children) > li {
  height: 50px !important;
}


.desktopPage .perm-tippy-top {
  position: relative;
  z-index: 103;
}


/*# sourceMappingURL=../d2cc47d23d7d-21.js.map*/