@import url(css.css);
@import url(css1.css);
@import url(css2.css);
@import url(css3.css);
@import url(css4.css);
@import url(css5.css);
@import url(css6.css);

div#my-counter,#text_above_timer {
width: 100% !important;
clear:both;
}
#banner_bar_counter div#my-counter, #banner_bar_counter #text_above_timer {
clear:none;
}
div#my-counter{
    height: auto !important;
}

#banner_bar_counter div#my-counter, #banner_bar_counter #text_above_timer {
    width: 48% !important;
}


#progressbar {
        height:10px;
        width:100%;
        margin-top: 13px;
}

.ui-progressbar .ui-progressbar-value {
        margin:0px;
}

.ui-widget-content {
    background: #EAEAEA;
}

#text_above_timer{
/*text-align:left !important;*/
margin-top:10px;
display:none;
}

#counter_container {
        margin-top:10px;
        margin-bottom: 10px;
}

#my-counter .down {
        top: 20px !important;
}
#set-time .col-md-3 {
    float: left;
    width: 25%;
    margin-bottom: 20px;
}
#fake-block .col-md-6{
	width: 50%;
	float:left;
	margin-bottom: 20px;
}
#scarcity-block .col-md-6{
	width: 50%;
	float:left;
	margin-bottom: 20px;
}
#option_2  .col-md-6, #option_1 .col-md-6{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}


#option_1 .col-md-12, #option_2 .col-md-12{
	margin-bottom: 20px !important;
	clear: both;
}
#product_progress_bar{
	margin-bottom: 20px !important;
}



.panel-primary > .panel-heading {
    background-color: #337ab7;
}

.form-control {
padding:6px;
}

.btn22 {
position: fixed;
    top: 52px;
    right: 75px;
}
}

#text_progress_preview{
    margin-left: 129px;
    margin-top: 34px;
}


#text_progress_preview #counter_container {
        width: 501px !important;

    border: 1px solid #E5E5E5;
    border-radius: 16px;
}
.btn-info {

    background-color: #FF8100;
    border-color: #FF8100;
    width: 101px;
    font-size: 21px;

}


.bootstrap-switch-container {
        height:35px;
}

.glyphicon-question-sign::before {
        color : orange;
}

.watching-progressbar #progressbar {
	height:40px;
	margin-top:2px;

}

.watching-progressbar .above-progress-bar-text {
	width:100%;
	display : block;
	color: #404040;
	font-weight: bold;
}

.watching-progressbar .above-progress-bar-left {
	display:inline-block;
	left:0;
	text-align:left;
	width:50%;
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.watching-progressbar .above-progress-bar-right {
	display:inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: right
}

.watching-progressbar #progressbar {
    position: relative;
}

.watching-progressbar #progressbar  .ui-progressbar-value {
background-color: #8cbe57;
}
.watching-progressbar #progressbar .progress-label {
    position: absolute;
    text-align:right;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
#my-counter.light .hurrifycountdown .value,#my-counter.light .hurrifycountdown .label,
#my-counter.light .hurrifycountdown  .value,#my-counter.light .hurrifycountdown  .label,
#my-counter.light .hurrifycountdown  .value,#my-counter.light .hurrifycountdown  .label,
#my-counter.light .hurrifycountdown  .value,#my-counter.light .hurrifycountdown  .label{color:#FFFFFF !important;border-color:#FFFFFF}
.flip-clock-wrapper.light ul {background: #fff !important;}
.flip-clock-wrapper.light ul li a div.up:after {background-color: #fff !important;background-color: rgba(0, 0, 0, 0.4) !important;}
.flip-clock-wrapper.light ul li a div div.inn {color: #111 !important;text-shadow: 0 1px 1px #555 !important;background-color: #ddd !important;}
.flip-clock-wrapper.light .flip-clock-divider .flip-clock-label {color: #fff !important;}
.w3-round, .w3-round-medium {
    border-radius: 4px;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-center {
    text-align: center!important;
}
#h_bottom_text{width:100% !important;text-align: center !important;padding:7px 0;display:none}
svg.w3-round{   width: 100% !important;height: 30px !important;}
